{% extends "base.html" %}

{% block content %}
<h1>
    Add Entry
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Entry title" required>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" placeholder="Entry content" rows="20" required></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}

<!--The method attribute is set to POST meaning when you submit, it will send data via a POST request.
The form element does not have an "action" meaning the POST will be sent to the same URL you used to GET the form.-->