{% extends "base.html" %}

{% block content %}
<h1>
    Edit Entry
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <textarea type="text" class="form-control" id="title" name="title" placeholder="Entry title" required>{{ title }}</textarea>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" placeholder="Entry content" rows="20" required>{{ content }}</textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit Edits</button>
</form>

<div>
    <h2>
        <a href="{{ url_for('delete_entry', eid=entries.id) }}" onclick="return confirm('Delete this Entry?')">Delete Entry</a>
    </h2>
</div>
{% endblock %}

<!--The method attribute is set to POST meaning when you submit, it will send data via a POST request.
The form element does not have an "action" meaning the POST will be sent to the same URL you used to GET the form.-->